<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite2">
  <test thread-count="5" name="Test">
  
  	<groups>
  		<run>
  		<include name= "sanity"/>
  		<include name= "regression"/>
  		</run>		
  	</groups>
  	
    <classes>
      <class name="package2.CheckoutTest"/>
      <class name="package1.AnnotationExample"/>
      <class name="package1.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
